.termsLevel {
    width: 312px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px #E9EAF0 solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.heading {
    width: 100%;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px #E9EAF0 solid;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
}

.category {
    color: #1D2026;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 18px;
    word-wrap: break-word;
}

.chevronDown {
    display: flex;
    align-items: center;
}

.allLevel {
    width: 100%;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: flex;
    padding: 10px 0;
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.subcategory {
    width: 272px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 10px;
}

.frame {
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: flex;
    flex-grow: 1;
}

.checkBoxInput {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid #CED1D9;
}

.term {
    color: #4E5566;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.termCode {
    color: #8C94A3;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
}