.nav-header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 65px;
    box-shadow: 0 4px 10px rgba(135, 206, 235, 0.5);
}

.nav-link-wrapper {
    height: 100%;
    gap: 20%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.nav-icon-wrapper {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 10%;
}

.avatar-wrapper {
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
    padding-top: 3px;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: blue;
    display: none;
}

.active::before {
    display: block;
}

.menu-icon {
    cursor: pointer;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 999;
}

.sidebar-menu a {
    display: block;
    margin: 10px 0;
}

.nav-header {
    position: relative;
}



.close-icon {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.close-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.icon-wrapper-mobile {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 40%;
}

.CiUser,
.CiLogin,
.CiLogout,
.IoMenuOutline,
.IoMdClose {
    width: 24px;
    height: 24px;
}